.container {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
  width: 85%;
  margin: auto;
}

@media screen and (max-width: 1080px) {
  .wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 512px) {
  .wrapper {
    width: 100%;
  }
}
